/* ----- SEARCH ----- */
#search {
    padding-top: 9rem;
    text-align: center;
}

#search-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#search input, button {
    padding: 0.7rem;
    border-radius: 0.2rem;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgb(30 60 90 / 15%);
}

#search input {
    width: 14rem;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    color: #345;
}

#search button {
    background: var(--main-color);
    color: white;
    border: none;
}

#search button:hover {
    background: #af35b5;
}

/* ----- PRODUCTS ----- */
#products {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: center;
}