#product, #suggestions {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1.2rem;
    gap: 1.4rem;
}

#info {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

#info img {
    width: 15rem;
    box-shadow: 0px 0px 12px 4px rgb(0 0 0 / 13%);
}

#info p {
    margin-top: 1rem;
}

.quantity {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

#info-button {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#info-button button:first-child {
    background: #188535;
}

#info-button button:first-child:hover{
    background-color: #24ad49;
}

#info-button button {
    width: 7rem;
    height: auto;
}

/* --------SUGGESTIONs--------- */
#suggestions {
    margin-top: 5.5rem;
    padding-top: 0;
}

#text-suggest {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#text-suggest h2 {
    font-weight: normal;
}

#text-suggest p {
    font-size: 3rem;
}

#suggestions {
    margin-bottom: 5rem;
}

/* filtrando a cor do svg usando o codepen: 
https://codepen.io/sosuke/pen/Pjoqqp */
#arrow-svg {
    filter: 
        invert(10%) 
        sepia(75%) 
        saturate(5230%) 
        hue-rotate(289deg) 
        brightness(105%) 
        contrast(104%);
}

#suggestion {
    margin-top: 3rem;
}

#suggestion ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
}

#suggestion .card h2 {
    font-size: 1.4rem;
    margin: 0.8rem 0;
}