* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    background: #fffafa;
}

main {
    flex: 1 0 auto;
}

.wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
}

/* ----- HEADER ----- */
header {
    background-color: #880896;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.54);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.div-header a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.div-header img {
    width: 2rem;
}


/* ----- SEARCH ----- */
#search {
    padding-top: 9rem;
    text-align: center;
}

#search input, button {
    padding: 0.7rem;
    border-radius: 0.2rem;
    text-align: center;
    font-size: 1rem;
}

#search input {
    width: 14rem;
    outline: none;
    border: 1px solid gray;
    margin-bottom: 1rem;
    color: #345;
}

#search button {
    background: #880896;
    color: white;
    border: none;
}

#search button:hover {
    background: #af35b5;
}

/* ----- PRODUCTS ----- */
#products {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: center;
}

.card {
    width: 7rem;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.13);
    border-radius: 0.4rem;
    padding: 1rem;
    cursor: pointer;
    background-color: white;
    margin-bottom: 1rem;
}

.card:hover{
    transform:scale(1.10,1.10);
}

.card img {
    /* max-width: 13.9rem; */
    max-height: 7.75rem;
    border-radius: 0.4rem;
    margin-bottom: 0.8rem;
}

.card .price {
    color: #880896;
}

.card h2{
    font-size: 1rem;
    margin: 0.5rem 0;
}

.card p{
    font-size: 0.8rem;
}

.card h2, .card p {
    color: #345;
}

/* ----- FOOTER ----- */
footer {
    background-color: #880896;
    width: 100%;
    margin-top: 5rem;
    padding: 1rem;
    color: white;
    text-align: center;
    flex-shrink: 0;
}

/* ------ MEDIA QUERIES  ------ */
@media (min-width: 320px) {
    #search input {
        width: 18rem;
    }
    
    .wrap {
        width: 100%;
    }
}

@media (min-width: 320px) {
    .card {
        width: 10rem;
    }

    .card img {
        max-height: 11.7rem;
    }
}

@media (min-width: 537px) {
    .card {
        width: 11rem;
    }

    .card img {
        max-height: 13.5rem;
    }
    
    .card h2{
        font-size: 1.3rem;
    }

    .card p{
        font-size: 1rem;
    }
}

@media (min-width: 600px) {
    .div-header {
        margin: 0 1rem 0 1rem;
    }
}

@media (min-width: 992px) {
    .div-header {
        margin: 0 2rem 0 2rem;
    }
}

@media (min-width: 1264px) {
    .div-header {
        margin: 0 2rem 0 2rem;
    }

    #products .card {
        width: 16rem;
    }

    #products .card img {
        max-width: 13.9rem;
        max-height: 21.75rem;
    }
    
    #products .card h2{
        font-size: 1.8rem;
    }

    #products .card p{
        font-size: 1rem;
    }
}